canvas{
	width: 500px;
	height: 500px;
	background-color: lightgray;
	margin-top: 5px;
}
input[type=button]{
	background-color: #5E92F2 ;
	border: groove 3px #0D2249;
	padding: 10px;
	cursor: pointer;
	font-weight: bold;
	margin: 5px;
	margin-bottom: 10px;
}
#d1{
	margin: 1%;
	margin-left: 20%;
}
#d2{
	position: absolute;
	top: 230px;
	margin: 1%;
	margin-left: 70%;
}
#refe{
	margin-left: 45%;
}
#refe a{
	color:#0D2249;
	background-color: #5E92F2 ;
	border: groove 3px #0D2249;
	font-weight: bold;
	padding: 5px;
	margin-top: 50px;
	text-decoration: none;
	padding-top: 4px;
}

a:visited{
	color:#0D2249;
}
